.container{
 width: 600px;
 height: 400px;
 background-color: aquamarine;
 outline:solid black 2px;
 display:flex;
 flex-direction:row;
 flex-wrap: wrap;
 /*justify-content: space-evenly;*/
 }

.items{
    width: 100px;
   /* flex-grow: 1;*/
   /* height: 100px;*/
    outline: solid black 1px;
    padding-left: 30px;
    padding-top: 30px;
    box-sizing: border-box;
}

/*pseudocelectores*/
/*selectores para casos especificos*/
.container .items:first-child{
 background-color: blue;
 color:blanchedalmond;
 /*flex-grow : 0 por defecto*/
 flex-grow: 1;
}

.container .items:last-child{
 background-color: rgb(202, 59, 24);
 color:blanchedalmond;
 flex-grow: 1.4;
}

.container .items:nth-child(2){
 background-color: rgb(36, 25, 23);
 color:blanchedalmond;
 flex-grow: 0.5;
}

.container .items:nth-child(3){
  background-color: rgb(24, 175, 202);
  color:blanchedalmond;
  flex-grow: 0.7;
} 