.container{
    display:flex;
    width: 800px;
    height: 700px;
    outline: 2px solid rgb(15, 15, 15);
}

.franja-horaria{
    display: flex;
    outline: 1px solid rgb(15, 15, 15);
    flex-direction: column-reverse;

}

 
.hora{
    box-sizing: border-box;
    height: 200px;
    outline: 1px dashed rgb(109, 107, 107);
    padding: 80px 20px 50px 20px;
}